MONGO_URI=mongodb://localhost:27017/your_database
RESEND_API_KEY=hero goes your Resend API key
CONTACT_EMAIL=hero goes your email
NEXT_PUBLIC_HASHNODE_API_KEY=hero goes your Hashnode API key

# Note: Replace all values with your actual configuration
# IMPORTANT Make sure to add .env to your .gitignore file 